@using Dominio
@model List<Publicacion>
<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               Nombre
            </th>
            <th>
               Precio
            </th>
            <th>
               Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
      
            <td>
                    @item.Nombre
            </td>
            <td>

                    @if (@item.ObtenerPrecio() == 0)
                    {
                        <p>No hay ofertas</p>

                    }
                    else
                    {
                        @item.ObtenerPrecio()
                    }

            </td>
            <td>
                    @item.Estado
                    
            </td>
            <td>
                    @if(@item.Estado == Publicacion.EstadoActual.ABIERTA){

                        if (@item.GetType().Name == "Subasta")
                        {
                            @Html.ActionLink("Ofertar", "Ofertar", new { id = item.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Comprar", "Comprar", new { id = item.Id })
                        }

                }
                   
            </td>
        </tr>
}
    </tbody>
</table>